* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

#mainSvg {
  outline: 1px solid red;
}

/* sniff himself */

.drop {
  height: 50px;
  width: 50px;
  fill: red;
}

#arrows{
  transform: translateY(54em) scale(.5) translateX(5em);
  z-index: 5;
}

#arrowLeft,#arrowRight{
  fill:rgba(255, 0, 0, 0.358)
}